<!-- 
<div *ngIf="user">
    <div>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Questo è un post</h5>
          <h5 class="card-title"></h5>
          <h6 class="card-subtitle mb-2 text-body-secondary"></h6>
          <p class="card-text"></p>
          <a [routerLink]="['/sezione-commenti']" class="card-link">sezione commenti</a>
        </div>
      </div>
    </div>
  </div>
  
  <ng-template #showError>
    <p>ERROR: The user hasn't posted anything yet</p>
  </ng-template>
   -->
  